@import "reset";
* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

html, body {
  height: 100%;
  position: relative;
  .login-form-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    .login-form {
      display: flex;
      flex-direction: column;
      padding: 15px;
      & label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        position: relative;
      }
      & input {
        height: 25px;
        outline: none;
        &.error {
          border: 1px solid red;
        }
      }
      & button {
        height: 25px;
        margin-top: 20px;
      }
      & p.error {
        position: absolute;
        left: 0;
        top: -20px;
        font-size: 16px;
        color: red;
      }
      &.form-signup {
        & label {
          margin-bottom: 15px;
        }
      }
    }
    h2 {
      text-align: center;
      margin: 30px 0;
    }
    .form-wrapper {
      align-self: center;
      width: 300px;
      height: 350px;
      background: rgb(231, 138, 117);
      position: relative;
      .close-login-menu {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 0;
        font-size: 30px;
      }
    }
  }
}

.selected {
  background: #fff;
  border: 1px solid;
  color: #f31 !important;
}

.flexLine {
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-image: linear-gradient(to right, #f31, #f64); // линейный градиент в качестве фонового изображения
  button {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 50px;
    padding: 15px 30px;
    border: 1px solid transparent;
    background: transparent;
    outline-color: transparent;
    .hamburger-menu {
      height: 100%;
      width: 100%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0 auto;
    }
  }
  .cart-icon-container {
    display: flex;
    position: relative;
    height: 100%;
    .login-container {
      height: 100%;
      position: relative;
      cursor: pointer;
      .login-info {
        width: 10px;
        height: 10px;
        background: red;
        border: 1px solid;
        position: absolute;
        top: 10px;
        right: 18px;
        border-radius: 100%;
        &.sign-in {
          background: green !important;
        }
      }
      .login-icon {
        width: 28px;
        height: 100%;
        margin-right: 20px;
      }
    }
    .cart-counter {
      width: 20px;
      text-align: center;
      text-decoration: none;
      background: #fff;
      position: absolute;
      color: #000;
      top: 0;
      right: 0;
      border-radius: 100%;
    }
    .cart-icon {
      width: 28px;
      height: 100%;
      margin-right: 20px;
    }
  }
}

.container {
  display: flex;
  height: calc(100% - 50px);
  ul {
    list-style: none;
  }
  main {
    width: calc(100% - 480px);
    margin: 0 50px;
    h1, h2 {
      text-align: center;
      margin-top: 20px;
    }
    h1, h3 {
      margin-top: 20px;
    }
    .pagination {
      display: flex;
      li {
        padding: 20px 20px 20px 0;
        cursor: pointer;
        .active {
          color: orangered;
        }
      }
    }
    .item {
      position: relative;
      margin-top: 20px;
      margin-right: 20px;
      width: 150px;
      border: 1px solid orangered;
      .removeFromCart {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        background: red;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      ul {
        margin-top: 10px;
        li {
          padding-left: 8px;
        }
      }
      p {
        text-align: center;
      }
      img {
        width: 100%;
        height: 100px;
        padding: 15px;
      }
      button {
        border: 1px solid transparent;
        background-image: linear-gradient(to right, #f31, #f64);
        outline-color: transparent;
        &:active {
          background: orange;
        }
        &.add {
          margin-top: 10px;
          width: 100%;
        }
      }
      .caloriesCounter {
        display: flex;
        justify-content: space-around;
        height: 25px;
        input {
          height: 100%;
          width: 50px;
        }
        button {
          height: 100%;
          width: 25px;
          border-radius: 15px; // форма границ элемента
        }
      }
    }
  }
  aside {
    width: 240px;
    nav {
      transform: translateX(0);
      transition: transform 500ms ease-in;
      position: relative;
      background: #f64;
      height: 100%;
      a {
        font-size: 16px;
        line-height: 1.2;
        padding: 20px 15px;
        display: block;
        color: #000;
        text-decoration: none;
      }
    }
    .slideIn {
      transform: translateX(0);
    }
    .slideOut {
      transform: translateX(-240px);
    }
  }
}